.wrapper {
  max-width: cover;
  margin: 0 auto;
}

.container {
  max-width: 940px;
  padding: 0 15px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 108, 73, 0.3)), to(rgba(198, 108, 73, 0.3))), url(/img/bg.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)), url(/img/bg.jpg) no-repeat center/cover;
  min-height: 768px;
}

header .container-header h1 {
  padding-top: 145px;
  color: #fff;
  font-weight: normal;
  font-size: 64px;
}

header .container-header h2 {
  padding-top: 25px;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
}

header .container-header .latest {
  color: #fff;
  padding-top: 105px;
  font-size: 18px;
  text-decoration: underline;
}

header .container-header .latest a {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}

header .logo-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: #fff;
  font-size: 29px;
  font-weight: 700;
  padding-top: 95px;
}

header .logo a {
  color: #fff;
}

header nav {
  padding-top: 95px;
}

header nav .portfolio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: 18px;
  margin: 0;
}

header nav .portfolio li {
  padding-left: 60px;
}

header nav .portfolio a {
  color: #fff;
}

header nav .portfolio a:hover {
  text-shadow: 1px 0px 0 #fff, -1px 0px 0 #fff;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 44px;
  }
  header .logo-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    padding-top: 95px;
  }
  header nav .portfolio {
    padding-left: 0;
  }
  header nav .portfolio li {
    padding-right: 60px;
    padding-left: 0;
  }
  header .latest {
    padding-bottom: 140px;
  }
}

@media (max-width: 550px) {
  header .container-header {
    max-height: 275px;
    text-align: center;
  }
  header .container-header h1 {
    padding-top: 100px;
    font-size: 24px;
  }
  header .container-header h2 {
    padding-top: 13px;
    font-size: 16px;
  }
  header .container-header .latest {
    padding-top: 40px;
    font-size: 16px;
  }
  header .container-header .latest a {
    font-size: 16px;
  }
  header .logo-portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: space-between;
            flex-direction: space-between;
    padding-top: 35px;
  }
  header nav .portfolio {
    display: none;
    padding-left: 0;
  }
  header nav .portfolio li {
    padding-right: 60px;
    padding-left: 0;
  }
  header .latest {
    padding-bottom: 140px;
  }
}
/*# sourceMappingURL=header.css.map */