$light-color: #fffAF2;
$super-light-brown: #f5d6ab;
$light-brown:rgb(192, 192, 192);
$brown:#C66C49;
$white: #fff;
$dark-grey: #333333;
$wrapper: cover;

.wrapper {
    max-width: $wrapper;
    margin: 0 auto;
}

.container {
    max-width: 940px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
    list-style: none;

}

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}



// @mixin flex($fw, $fd, $jc, $ai) {
//     display: flex;
//     flex-wrap: $fw;
//     flex-direction: $fd;
//     justify-content: $jc;
//     align-items: $ai;
// }