@import "_general.scss";

.about {
    h2 {
        font-size: 24px;
        font-weight: 700;
        padding: 95px 0 76px;
    }

    p {
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
        color: $dark-grey;

        &:nth-child(3) {
            padding-bottom: 115px;
        }

    }

    @media(max-width: 600px) {
        h2 {
            text-align: center;
        }

        h2 {
            padding: 25px 0 26px;
        }
    }

    p {
        &:nth-child(3) {
            padding-bottom: 25px;
        }

    }
}