@import "_general";

header {
    background: linear-gradient(rgba(198, 108, 73, 0.3), rgba(198, 108, 73, 0.3)), url(/img/bg.jpg) no-repeat center/cover;
    max-height: 768px;
    padding-bottom: 245px;

    .container-header {
        h1 {
            padding-top: 145px;
            color: $white;
            font-weight: normal;
            font-size: 64px;
        }

        h2 {
            padding-top: 25px;
            color: $white;
            font-weight: normal;
            font-size: 24px;
        }

        .latest {
            color: $white;
            padding-top: 105px;
            font-size: 18px;
            text-decoration: underline;

            a {
                color: $white;
                font-size: 18px;
                text-decoration: underline;
            }
        }
    }

    .logo-portfolio {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        color: $white;
        font-size: 29px;
        font-weight: 700;
        padding-top: 95px;

        a {
            color: $white;
        }
    }

    nav {
        padding-top: 95px;

        .portfolio {
            display: inline-flex;
            color: $white;
            font-size: 18px;
            margin: 0;

            li {
                padding-left: 60px;
            }

            a {
                color: $white;

                &:hover {
                    text-shadow: 1px 0px 0 $white, -1px -0px 0 $white;

                }
            }
        }


    }

    @media (max-width:800px) {
        h1 {
            font-size: 44px;
        }

        .logo-portfolio {
            display: flex;
            flex-direction: column;
        }

        nav {
            padding-top: 95px;

            .portfolio {
                padding-left: 0;

                li {
                    padding-right: 60px;
                    padding-left: 0;
                }
            }
        }

        .latest {
            padding-bottom:
                140px;
        }
    }

    @media (max-width:550px) {
        .container-header {
            max-height: 275px;
            text-align: center;

            // display: flex;
            // justify-content: center;
            h1 {
                padding-top: 30px;
                font-size: 24px;
            }

            h2 {
                padding-top: 13px;
                font-size: 16px;
            }

            .latest {
                padding-top: 40px;
                font-size: 16px;

                a {
                    font-size: 16px;
                }
            }
        }

        .logo-portfolio {
            flex-direction: space-between;
            padding-top: 35px;
        }

        .logo {

            padding-top: 45px;
        }

        nav {

            .portfolio {
                display: none;
                padding-left: 0;

                li {
                    padding-right: 60px;
                    padding-left: 0;
                }
            }
        }

        .latest {
            padding-bottom:
                140px;
        }
    }
}