@import "_general.scss";


.section-skills {
    background-color: $light-color;
}

.skills {
    padding: 95px 15px 125px 0;

    h2 {
        margin-bottom: 75px;
        padding-left: 15px;
    }

    img {
        padding-left: 15px;
    }

}

.skills-diagram {
    display: flex;
    justify-content: space-between;
}

.diagram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 135px;
    max-width: 635px;
}

.diagram-item {
    display: flex;
    margin-top: 20px;
    max-height: 340px;

    .diagram-title {
        width: 135px;
        color: #000;
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
    }

    .diagram-desc {
        color: #000;
        font-size: 18px;
        line-height: 25px;
        flex-grow: 1;
    }

    &:first-child {
        margin-bottom: auto;
        margin-top: 0;
    }

    .progress {
        height: 24px;
        width: 100%;
        background-color: $super-light-brown;

        .line {
            height: 100%;
            background-color: $brown;
            width: 0;
            transition: .6s;
        }
    }
}

.section-skills:hover .l-90 {
    width: 90%;
}

.section-skills:hover .l-70 {
    width: 70%;
}

.section-skills:hover .l-60 {
    width: 60%;
}

@media(max-width:950px) {

    .diagram {
        margin-left: 15px;
    }
}

@media(max-width:825px) {
    .skills {


        h2 {
            text-align: center;
        }
    }

    .skills-diagram {
        flex-direction: column;
        align-items: center;

        img {
            max-width: 100%;
            margin-bottom: 15px;
        }
    }

    .diagram {
        margin-left: 0;
    }
}

@media(max-width:600px) {
    h2 {
        padding-top: 25px;
    }

    .diagram-item {
        flex-direction: column;
    }

    .diagram {
        padding-bottom: 25px;
    }
}