.portfolio h2 {
    padding: 0 3px;
    margin: 65px 0 48px;
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

.portfolioColumn {
    display: flex;
}

.portfolioDiscr p {
    flex-grow: 1;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    margin-right: 125px;
}

.left,
.right {
    position: relative;
    top: -50px;
    margin: 0 25px 145px 30px;
    width: 24px;
    height: 24px;
    background: url(/img/arrow.png) no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.right {
    transform: rotate(180deg);
    margin-left: -20px;
}

.gallery {
    display: flex;
}

.gallery1 {
    flex-direction: column;
    margin-right: 30px;
}

.gallery2 {
    flex-direction: column;
    margin-right: 2px;
}

.gallery img {
    margin-bottom: 26px;
}


@media (max-width:1000px) {
    .portfolioDiscr p {
        margin-right: 25px;
    }
}

@media (max-width:850px) {
    .portfolio {
        padding-bottom: 0;
    }

    .portfolioColumn {
        display: flex;
        flex-direction: column;
    }

    .btn {
        display: none;
    }

    .gallery {
        display: flex;
        justify-content: center;
    }

    .gallery1 {
        margin-right: 10px;
    }

}

@media (max-width:825px) {
    .portfolio h2 {
        text-align: center;
    }
}

@media (max-width:650px) {
    .container {
        padding: 0 5px;
    }

    .portfolio h2 {
        margin: 45px 0 30px;
    }

    .gallery1 img,
    .gallery2 img {
        max-width: 100%;
    }

    .portfolioDiscr p {
        margin-right: 0;
    }
}