.container {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio h2 {
    padding: 0 3px;
    margin: 65px 0 48px;
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

.portfolioColumn {
    display: flex;
    justify-content: space-between;
}

.portfolioDiscr {
    max-width: 575px;
}

.portfolioDiscr p {
    max-width: 349px;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.left,
.right {
    position: absolute;
    top: 320px;
    left: 380px;
    margin: 225px 0 0 0;
    width: 24px;
    height: 24px;
    background: url(/img/arrow.png) no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.right {
    top: 545px;
    left: 410px;
    transform: rotate(180deg);
    margin: 0 0 225px;
}

.gallery {
    columns: 2;
    max-width: 635px;
}

.gallery img {
    margin-bottom: 26px;
}

.gallery img:nth-child(3),
.gallery img:nth-child(4) {
    margin-left: 53px;
}