/* .element.style {
    padding: 0;
    width: 940px;
} */

.section-slider {
    padding: 0;
    border: 1px solid red;
}

.portfolio h2 {
    padding: 0 3px;
    margin: 65px 0 48px;
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

.portfolioColumn {
    display: flex;

}

/* .portfolioDiscr {
    max-width: 75px;

} */

.portfolioDiscr p {
    /* max-width: 349px; */
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
}

.left,
.right {
    position: relative;
    top: -270px;
    left: 495px;
    margin: 225px 0 0 0;
    width: 24px;
    height: 24px;
    background: url(/img/arrow.png) no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.right {
    top: -270px;
    left: 500px;
    transform: rotate(180deg);
}

.gallery {
    columns: 2;
    max-width: 635px;
    margin-left: 73px;
}

.gallery img {
    margin-bottom: 26px;
}

.gallery img:nth-child(3),
.gallery img:nth-child(4) {
    margin-left: 53px;
}





/* --------header начинаю работу с SCSS -------- */